.logo-img {
    border-radius: 50% !important;
}

.nav.w-nav {
    background: #fbb9b6 !important;
}

.age-popup {
    background: #023465 !important;
    
}

.error-msg {
    background: #fd97fa !important;
   
}

.content-wrapper {
    background: #fbb9b6 !important;
}
.page-wrap {
    background: #fbb9b6 !important;
}

.bg {
    background: #fbb9b6 !important;
}

h1.title-medium {
    color: #023465 !important;
}

p.marquee-text {
    color: #023465 !important;
}
.perloader-wrapper-2 {
    background: #023465 !important;
}
.nav-link.is--highlighted {color: #ffffff !important;}
figure.contain.is--hero-left-bottom img {
    border-radius: 50%;
}
h2.title-large {
}

.bottle-card {
    /* mix-blend-mode: color-burn !important; */
}

h3.title-medium {
    color: #023465 !important;
}

a.marquee-link {
    color: #023465 !important;
}

section.legal {
    background: #023465 !important;
}
.chilli-marquee {
    background-image: url(65359dc8c693127e8fcb395c_61772be05e10e6a3738690714f9599d0_w200.gif) !important;
}
.lava-java{
    background-image: url(65359dc8c693127e8fcb395c_61772be05e10e6a3738690714f9599d0_w200.gif) !important;
}
@media (max-width: 600px) {
    .age-popup {
        width: 97% !important;
    }
}

